@page "/"
@page "/CreateFoodPost"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Microsoft.VisualBasic.CompilerServices
@inject IFoodPostService fpService


<div class="card">
    <h3>Make Food Post</h3>
    <div class="form-group field">
        <label>Title:</label>
        
        <input type="text" @bind="title" @bind:event="oninput"/>
        <label>Category:</label>
        <input type="text" @bind="category" @bind:event="oninput"/>
        <label>Description:</label>
        <textarea class="biginput" @bind="description" @bind:event="oninput"></textarea>
        <label>Image Url:</label>
        <input type="text" @bind="pictureUrl" @bind:event="oninput"/>
        <label>Days Until Expiraton:</label>
        <input type="text" @bind="daysUntilExpired" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(title) || string.IsNullOrEmpty(category) || string.IsNullOrEmpty(description) || string.IsNullOrEmpty(pictureUrl) || string.IsNullOrEmpty(daysUntilExpired))" class="acceptbtn">Create</button>
    </div>
</div>


@code {
    private string title = "";
    private string category = "";
    private string description = "";
    private string pictureUrl = "";
    private string daysUntilExpired = "";
    private string resultMsg = "";
    private string color = "";

    private async Task clear()
    {
        title = "";
        category = "";
        description = "";
        pictureUrl = "";
        daysUntilExpired = "";
    }

    private async Task Create()
    {
        resultMsg = "";

        try
        {
            int days = IntegerType.FromString(daysUntilExpired);
            await fpService.Create(new FoodPostCreationDTO(title, category, description, pictureUrl, days));
            await clear();
            resultMsg = "Food Post successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            resultMsg = e.Message;
            color = "red";
        }
    }

}