.card {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    margin: 20px auto auto;
    
}

.card h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.card * {
    margin: 2px auto 2px auto;
    display: block;
}

.card input {
    margin-bottom: 10px;
}

.biginput {
    margin-bottom: 10px;
}

.acceptbtn {
    text-transform: uppercase;
    color: white;
    background-color: #0a53be;
    font-weight: bold;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.acceptbtn:disabled {
    text-transform: uppercase;
    color: white;
    background-color: grey;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

