@page "/ViewFoodPosts"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IFoodPostService foodPostWebService
@inject NavigationManager navMgr

<h3>ViewFoodPosts</h3>

<div>
    <button @onclick="LoadFoodPosts">Load</button>
</div>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Posts to display</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Category</td>
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private ICollection<OverSimpleFoodPostDto>? posts;
    private string msg = "";

    private async Task LoadFoodPosts()
    {
        try
        {
            posts = await foodPostWebService.GetAsync();
            Console.Write("Posts: " + posts.ToString());
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}