@page "/"


<PageTitle>Index</PageTitle>

<h1 style="text-align: center">
    <img src="img/logo.png" alt="logo" width="100" height="100"/>
    Welcome to RightOvers!
</h1>

<img src="img/deliciousfood.png" class="centerpic"/>
<br>
<h1 class="greenheader">
    <i>OUR MISSION</i>
</h1>

<RadzenText TextStyle="TextStyle.Body1" Class="my-4" TextAlign="TextAlign.Center">
    To make sure good food gets eaten, not wasted. It is estimated that around 88 million tons of food waste are generated solely in the EU.
    This means that about one third of the food produced is lost or wasted – and more than half of it occurs within households.
</RadzenText>

<h1 class="greenheader">
    <i>THE SOLUTION</i>
</h1>

<RadzenText TextStyle="TextStyle.Body1" Class="my-4" TextAlign="TextAlign.Center">
    There are no leftovers on this platform - only <b>RightOvers</b>. Businesses and households are sharing their rightovers for <b>FREE</b>. All you have to do is to <a href="/Login/">Create an account</a>.
</RadzenText>


<h1 class="greenheader">
    <i>HOW YOU CAN CONTRIBUTE</i>
</h1>

<RadzenText TextStyle="TextStyle.Body1" Class="my-4" TextAlign="TextAlign.Center">
    Browse through food posts households and businesses, or use the map to find RightOvers close to your location.
</RadzenText>

<br>

<img src="img/foodandpeople.png" class="centerpic"/>

<br>

<RadzenText TextStyle="TextStyle.Body1" Class="my-4 " TextAlign="TextAlign.Center">
    Publish your food with the desired pick-up time and date, details, and a picture so that others can view it and hopefully reserve it. Your phone number will be shared with the person who reserved your food post, so expect a call if the picker cannot find you. :)
</RadzenText>

<h1 class="greenheader">IMPORTANT!</h1>


<RadzenText TextStyle="TextStyle.Body1" Class="my-4" TextAlign="TextAlign.Center">
    <b>Make sure you are following the below listed food safety tips:</b>
</RadzenText>

<img src="img/foodsafety.png" class="foodsafety"/>

<h1 class="greenheader">FREQUENTLY ASKED QUESTIONS</h1>

<RadzenText TextStyle="TextStyle.Body1" Class="my-4">

    <b>Q1: How does RightOvers work?</b>
    <br>
    RightOvers is a platform designed for minimizing food waste and food insecurity on a local level. Users can upload their food with details and a picture, and others can reserve a pick up free of charge.
    <br>
    <br>
    <b>Q2: Why are you focusing your efforts in Denmark? I can’t imagine there would be any hunger in an advanced economy with social welfare.</b>
    <br>
    First of all, that is where we are located. Secondly, about 6% of households here report having low food security. Although it is a minority, it would still be a larger number of people than the population of Aarhus. Lastly, food waste is another concern we aim to alleviate, which is a key concern shared by the national government.
    <br>
    <br>
    <b>Q3: Who can see my posts?</b>
    <br>
    Anyone that connects to the website can browse the posts, which includes looking at the map. However, they must register an account to reserve the food.
    <br><br>
    <b>Q4: What should I do if the person that posted the food is not available at the pick up time?</b>
    <br>
    Call them using the phone number you can see in your profile. If they don’t respond, make sure to leave a detailed rating.
    <br><br>
    <b>Q5: What should I do if the person that was supposed to pick up the food never shows?</b>
    <br>
    After waiting, make sure to leave a detailed rating on their profile, so that other cooks are aware of that. You can delete the post and try to post it again.
    <br><br>
    <b>Q6: I got sick after eating some leftovers. Who can I sue?</b>
    <br>
    No one. Although we advise cooks to be careful when it comes to the safety and quality of the food they provide, it is your responsibility as a person that receives food to check the quality before eating.
    <br><br>
    <b>Q7: I accidentally mistyped my phone number while making my profile. How do I change that?</b>
    <br>
    You can edit all of your profile details except your username in the profile screen by clicking your username on the top right.
    <br><br>
    <b>Q8 Can I change my username?</b>
    <br>
    No. You can make a new account though.
    <br><br>
    <b>Q9: I put a lot of quality into my recipes. How do I charge money for my gourmet selections?</b>
    <br>
    Charging for food is strictly against the policy of Rightovers. We pride ourselves on the free exchange of goods. Anyone asking for money for food they posted should be reported immediately.
<br><br>
    <b>Q10: I forgot my password. What do I do now?</b>
    <br>
    You can reach out to RightOvers by calling +45 91 19 91 19. We will help recover your password.
<br><br>
    <b>Q11: The image link I used for my post does not work. How do I properly upload a picture? </b>
    <br>
    After uploading your photo to imgur, make sure you are copying the image address, not the image.
    <br><br>

    <b>Q12: My pantry is full of products such as oil, flour, sugar, etc. I am moving out but I do not want them to go to waste. Can I share them on RightOvers?</b>
    <br>
    Yes! You may share meals, ingredients, fresh produce, anything that is edible, or used for cooking.
<br><br>
    <b>Q13: How can I find Food Posts close to me?</b>
    <br>
    You can use the Map on the left of the application to search for Food Posts based on location.

</RadzenText>

<h1 class="greenheader">HOW WE HANDLE YOUR DATA</h1>


<RadzenText TextStyle="TextStyle.Body1" Class="my-4" TextAlign="TextAlign.Center">
    Take a look at our updated <a href="/PrivacyPolicy">privacy policy</a> to see how we mangage and process the data you give us.
</RadzenText>