@page "/"
@using System.Security.Claims

<PageTitle>Index</PageTitle>

<h1>
    <img src="img/logo.png" alt="logo" width="100" height="100"/>
    RightOvers
</h1>
<AuthorizeView>
    <NotAuthorized>
        Saving food made simple.
    </NotAuthorized>
    <Authorized>
        Saving food made simple. Espescially for you 
        @context.User.Claims.First(claim => claim.Type.Equals("FirstName")).Value!
    </Authorized>
</AuthorizeView>