@page "/Login"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IUserService userService
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <div class=" card-back flex-column align-items-center justify-content-center my-5">
            <div class="card flex-column align-items-center justify-content-between">
                <h3>Login</h3>
                <div class="field d-flex justify-content-between">
                    <label>Username:</label>
                    <input type="text" @bind="userName"/>
                </div>
                <div class="field d-flex justify-content-between">
                    <label style="text-align: center">Password:</label>
                    <input type="password" @bind="password"/>
                </div>
                @if (!string.IsNullOrEmpty(errorLabel))
                {
                    <div class="field">
                        <label style="color: red">
                            @errorLabel
                        </label>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-around my-4 ">
                <RadzenButton Variant="Variant.Flat" Shade="Shade.Lighter" Click=@(args => LoginAsync()) Text="Login" ButtonStyle="ButtonStyle.Dark"/>
                <RadzenButton Variant="Variant.Flat" Shade="Shade.Lighter" Click=@(args => Register()) Text="Register" ButtonStyle="ButtonStyle.Dark"/>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity!.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string userName;
    private string password;
    private string errorLabel;

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            if (string.IsNullOrEmpty(userName) || string.IsNullOrEmpty(password))
            {
                errorLabel = "Fields cannot be empty!";
            }
            UserLoginDto dto = new UserLoginDto(userName, password);
            await userService.LoginAsync(dto);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

    private void Register()
    {
        navMgr.NavigateTo("/Register");
    }

}