@page "/PostDetails/{id:int}"
@using Domain.Classes
@using HttpClients.ClientInterfaces
@inject IFoodPostService foodPostService

@*
<div class="card-back-title d-flex justify-content-center align-items-center">
    <div class="card-title d-flex justify-content-center my-1">
        <h5 class="bg-text title">Post details</h5>
    </div>
</div>
*@
<div class="d-flex justify-content-center my-1">
    <div class="card-back mx-3">
        <div class="card d-flex align-items-start flex-column">


            <h5 class="sm-text my-2">TITLE</h5>

            <h5 class="bg-text">@foodPost.Title</h5>

            <h5 class="sm-text my-2">CATEGORY</h5>

            <h5 class="bg-text">@foodPost.Category</h5>

            <h5 class="sm-text my-2">DAYS LEFT TO EAT</h5>

            <h5 class="bg-text">@foodPost.DaysUntilExpired</h5>

            <h5 class="sm-text my-2">DESCRIPTION</h5>

            <h5 class="bg-text">@foodPost.Description</h5>
        </div>
    </div>
    <div class="card-back mx-3">
        <div class="card d-flex justify-content-center">
            <h3 class=bg-text>PICTURE</h3>
        </div>
    </div>
</div>
<div>
    <RadzenButton Variant="Variant.Flat" Shade="Shade.Lighter" Click=@(args => Reserve(foodPost.PostId)) Text="Reserve" ButtonStyle="ButtonStyle.Dark"/>
</div>


@code {

    [Parameter]
    public int id { get; set; }

    public FoodPost foodPost;

    protected override async Task OnInitializedAsync()
    {
        try
        {
    //FoodPost foodPost = await foodPostService.GetSingleAsync(id);
    //title = foodPost.Title;
            foodPost = new FoodPost(5, "Chicken Tikka Masala", "Ethnic",
                "Chicken tikka masala is a dish consisting of roasted marinated chicken chunks in a spiced sauce. The sauce is usually creamy and orange-coloured.", "URL", 3, "finished");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    // TODO: Use context to add current user
    public async Task Reserve(int id)
    {
        await foodPostService.ReserveAsync(id);
    }

}