@page "/PrivacyPolicy"
<h1>Rightovers Privacy Policy</h1>
<p>Rightovers is a project by software engineering students at VIA University and this data privacy policy will describe how we use the personal data we collect as you use our website.</p>
<h2>What data do we collect?</h2>
<p>Rightovers collects the following data:</p>
<ul>
    <li>Your first name</li>
    <li>Your username</li>
    <li>Your phone number</li>
    <li>The address you list during registration</li>
    <li>If you are a business, we also collect your opening hours</li>
    <li>The food you post including the picture</li>
    <li>The times you are available to give the food away</li>
    <li>The food posts you interact with by reserving, reporting, or picking up</li>
    <li>The ratings you provide of other users</li>
    <li>Reports levied against you</li>
</ul>
<h2>How will we use your data?</h2>
<p>We use the data mentioned above so that we can:</p>
<ul>
    <li>Show the food you posted to other users</li>
    <li>Allow users to see where they need to go to pick up the food and when</li>
    <li>Allow users to get in contact with each other to coordinate pickups</li>
    <li>Effectively moderate content on the platform by getting rid of malicious content</li>
</ul>
<p>We also send your address without any other identifying remarks to Google, to retrieve your coordinates so that the location of the food can be visually seen on the map by others.</p>
<h2>How do we store your data?</h2>
<p>Rightovers stores your data with Amazon Web Services (AWS), who have security experts monitoring their servers 24/7. The database is physically located in Stockholm, Sweden and is accessed remotely. However, since the project is in the early stages and is not ready to deploy, all the security features available through AWS are not yet being used.</p>
<p>Rightovers will maintain the data we have collected until March 2023, at which point the remote server will go offline permanently.</p>
<p>Through the course of development, snapshots of the database will also be stored in plaintext comma separated files to allow for easier recovery of data.</p>
<h2>Marketing</h2>
<p>Rightovers is not interested in sending you marketing materials. We do not have any partner companies that wish to do this either.</p>
<h2>What are your data protection rights?</h2>
<p>As the team behind Rightovers, we want to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following</p>
<p><strong>The right to access</strong>: You have the right to request Rightovers for copies of your personal data. We will charge a small fee of 300 DKK and only the data that currently exists on the database will be provided.</p>
<p><strong>The right to rectification</strong>: You have the right to request Rightovers to correct any information you believe to be inaccurate. You also have the right to request information you believe is incomplete to be completed.</p>
<p><strong>The right to erasure</strong>: You have the right to request that Rightovers erase your personal data, under certain conditions.</p>
<p><strong>The right to restrict processing</strong>: You have the right to request Rightovers restrict the processing of your personal data, under certain conditions.</p>
<p><strong>The right to object to processing</strong>: You have the right to object to Rightovers processing of your personal data, under certain conditions.</p>
<p><strong>The right to data portability</strong>: You have the right to request that Rightovers transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:
    Call us at: +45 91 19 91 19
    Email us at: <a href = "mailto: privacy@rightovers.com">privacy@rightovers.com</a>
</p>
<h2>What are cookies?</h2>
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit websites, we may collect information from you automatically through cookies or similar technology.</p>
<p>For further information, visit allaboutcookies.org</p>
<h2>How do we use cookies?</h2>
<p>Here at Rightovers, cookies are not just something you bake for other users, but a tool we use to streamline and enhance your user experience. Some ways we do that are:</p>
<ul>
    <li>Keeping you signed in as you navigate to different parts of our web application.</li>
    <li>Making the creation of a post easier through the use of autofill.</li>
    <li>Optimizing the performance and experience for the device you are using</li>
</ul>
<h2>What types of cookies do we use?</h2>
<ul>
    <li>Functionality: Rightovers uses these to streamline your user experience to cut down on things you have to write out when you visit our site again.</li>
</ul>
<h2>How to manage cookies</h2>
<p>
    <a href="https://allaboutcookies.org/how-to-manage-cookies" rel="nofollow">https://allaboutcookies.org/how-to-manage-cookies</a>
</p>
<p>You can set your browser to not accept cookies, and the above website will show you how to do that. However, some features and functions of the website may not work as intended as a result.</p>
<h2>Privacy policy of other websites</h2>
<p>The rightovers website contains links to other websites, where their privacy policy applies. Be aware that they may have a different privacy policy and you will have to find it and read to understand the details.</p>
<h2>Changes to our privacy policy</h2>
<p>Rightovers reserves the right to update the privacy policy and will place any updates on this web page. The privacy policy was last updated on 9 December 2022.</p>
<h2>How to contact us</h2>
<p>
    If you have questions about Rightovers privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
    Call us at: +45 91 19 91 19
    Email us at: <a href = "mailto: privacy@rightovers.com">privacy@rightovers.com</a>
</p>
<h2>How to contact the appropriate authority</h2>
<p>
    Should you wish to report a complaint or if you feel that Rightovers has not addressed your concern in a satisfactory manner, you may file a complaint in the following email.
    Email: <a href = "mailto: feedback@rightovers.com">feedback@rightovers.com</a>
</p>
<h2>Thank you</h2>
<p>Thanks for taking the time to read through the privacy policy. We hope you now have a better understanding of what kind of data we store, what we do with it, who you can contact to request a change, and most importantly, your rights when it comes to that data. We hope the data you share with us will empower you to share food with others.</p>

@code {

}