.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.ratings {
    font-size: 1.5rem;
    color: white;
    background-color: darkslategray;
    border-radius: 10px;
    width: 250px;
    height: 90px;
    padding: 13px 10px 0 10px;
}

#picker_rating {
    margin-top: -15px;
}

.no-mb {
    margin-bottom: 0 !important;
}

.firstname {
    font-size: 4rem;
}

.hover-underlined:hover {
    text-decoration: underline;
    background-color: black;
    transition: 0.2s;
}

.username {
    line-height: 0.1em;
    font-size: 2em;
    margin-top: -15px;
    color: dimgrey;
}

.phone {
    line-height: 0.1em;
    font-size: 2em;
    margin-top: -25px;
    color: grey;
}

.post-title {
    font-weight: bolder;
}

.post-title:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.pointer {
    cursor: pointer !important;
}