@page "/ViewFoodPosts"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IFoodPostService foodPostWebService
@inject NavigationManager navMgr


<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
    Browse food posts
</RadzenText>


<RadzenText TextStyle="TextStyle.Body1" Class="my-4">
    Choose the meal you would like to save from the list below:
</RadzenText>

@if (posts == null)
{
    <p>Loading...</p>
}

<RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@posts" TItem="OverSimpleFoodPostDto" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="OverSimpleFoodPostDto" Property="id" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="OverSimpleFoodPostDto" Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="150px" TextAlign="TextAlign.Center">
            <Template Context="data">
                <RadzenImage Path="img/yummysammy.jpg"class="rz-gravatar"/>

            </Template>

        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="OverSimpleFoodPostDto" Property="Title" Title="Title" Frozen="true" Width="160px"/>
        <RadzenDataGridColumn TItem="OverSimpleFoodPostDto" Property="Category" Title="Category" Width="160px"/>
        <RadzenDataGridColumn TItem="OverSimpleFoodPostDto" Property="DaysUntilExpired" Title="Days Until Expiration" Width="170px"/>
        <RadzenDataGridColumn Width="160px" TItem="OverSimpleFoodPostDto" Property="id" Title="Meal Details">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info" class="m-1 align-content-center" Click="() => ViewPost(data.id)"></RadzenButton>
            </Template>
        </RadzenDataGridColumn>
        

    </Columns>
</RadzenDataGrid>


@code {
    private ICollection<OverSimpleFoodPostDto>? posts;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await foodPostWebService.GetAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ViewPost(int postId)
    {
        try
        {
            navMgr.NavigateTo($"/PostDetails/{postId}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    /*async Task OpenOrder(int id)
    {
        await DialogService.OpenAsync<DialogCardPage>($"Order {orderId}",
            new Dictionary<string, object>() { { "OrderID", orderId } },
            new DialogOptions() { Width = "700px", Height = "520px" });
    }
*/
}