@page "/ViewFoodPosts"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IFoodPostService foodPostWebService
@inject NavigationManager navMgr

<div class="d-flex justify-content-center">
    <h3>Food Posts</h3>
</div>
@if (posts == null)
{
    <p>Loading...</p>
}
else if (!posts.Any())
{
    <p>No Posts to display. Sorry :(</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>View details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Category</td>
                <td>
                    <button class="btn btn-outline-success" @onclick=@(() => { ViewPost(item.id); })>Details</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}



@code {
    private ICollection<OverSimpleFoodPostDto>? posts;
    private string msg = "";

    //<!--<RadzenButton Shade="Shade.Lighter" @onclick=@(() => { ViewPost(item.id); }) Text="Details" ButtonStyle="ButtonStyle.Success"/>-->
    //Doesnt work
    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await foodPostWebService.GetAsync();
            Console.Write("Posts: " + posts);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ViewPost(int postId)
    {
        try
        {
            Console.WriteLine($"Yo supp {postId}");
            navMgr.NavigateTo($"/PostDetails/{postId}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

}