.card[b-xauouoch9k] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    height: 80%;
    padding: 35px;
    text-align: center;
    margin-top: 25px;
    border-radius: 15px;
    border-left-style: groove;

}

.card-back[b-xauouoch9k] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    height: 60%;
    padding: 25px;
    text-align: center;
    margin-top: 25px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgb(5, 163, 47) 0%, rgb(4, 102, 56) 70%);
}

.card-back-title[b-xauouoch9k] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    height: fit-content;
    padding: 5px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgb(5, 163, 47) 0%, rgb(4, 102, 56) 70%);
}

.card-title[b-xauouoch9k] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    border-left-style: groove;
    background-color: white;
    width: fit-content;
}

.sm-text[b-xauouoch9k] {
    font-size: 10px;
    letter-spacing: 2px;
    color: gray;
}

.margin-bot[b-xauouoch9k]
{
    margin-bottom: 10%;
}

.margin-pickup[b-xauouoch9k]
{
    margin-bottom: 12%;
    margin-top: 12%;
}


.xs-text[b-xauouoch9k] {
    font-size: 10px;
    letter-spacing: 2px;
    color: gray;
}

.xs-text-days[b-xauouoch9k] {
    font-size: 15px;
}


.bg-text[b-xauouoch9k] {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    text-justify: kashida;
    width: fit-content;

}

.description-text[b-xauouoch9k] {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    text-justify: kashida;
    height: fit-content;
    display: block;
    overflow: auto;
    width: fit-content;
}

.title[b-xauouoch9k] {
    font-size: 25px;
}

.bckgrnd[b-xauouoch9k] {
    background-image: linear-gradient(180deg, rgb(5, 163, 47) 0%, rgb(4, 102, 56) 70%);
}

.field[b-xauouoch9k] {
    margin-top: 5px;
}

.creator[b-xauouoch9k], .creator:hover[b-xauouoch9k] {
    font-weight: bolder;
    color: darkslategrey;
}

.acceptbtn[b-xauouoch9k] {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-xauouoch9k] {
    margin-top: 15px;
}