.card[b-jixqs6uerm] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 200px;
    padding: 25px;
    text-align: center;
    margin-top: 25px;
    border-radius: 15px;
    border-left-style: groove;
}

.card-back[b-jixqs6uerm]
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 400px;
    height: 300px;
    padding: 25px;
    text-align: center;
    margin-top: 25px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgb(5, 163, 47) 0%, rgb(4, 102, 56) 70%);
}
.card-title[b-jixqs6uerm]
{
    width: 100px;
    text-align: center;
    margin: 15px;
    background-color: seagreen;
}

.bckgrnd[b-jixqs6uerm]
{
    background-image: linear-gradient(180deg, rgb(5, 163, 47) 0%, rgb(4, 102, 56) 70%);
}

.field[b-jixqs6uerm] {
    margin-top: 20px;
}

.acceptbtn[b-jixqs6uerm] {
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-jixqs6uerm] {
    margin-top: 15px;
}