.page[b-jk00ermrez] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jk00ermrez] {
    flex: 1;

}
.header-username[b-jk00ermrez] {
    color: green;
    font-size: 1.3em;
    font-weight: bold;
}

.sidebar[b-jk00ermrez] {
    background-image: linear-gradient(180deg, rgb(5, 163, 47) 0%, rgb(4, 102, 56) 70%);
}

.top-row[b-jk00ermrez] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-jk00ermrez]  a, .top-row[b-jk00ermrez]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-jk00ermrez]  a:hover, .top-row[b-jk00ermrez]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-jk00ermrez]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jk00ermrez] {
        display: none;
    }

    .top-row.auth[b-jk00ermrez] {
        justify-content: space-between;
    }

    .top-row[b-jk00ermrez]  a, .top-row[b-jk00ermrez]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jk00ermrez] {
        flex-direction: row;
    }

    .sidebar[b-jk00ermrez] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jk00ermrez] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-jk00ermrez]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-jk00ermrez], article[b-jk00ermrez] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
